<%= image_tag "sky.jpg", class: "sunset" %>
<div class="container-fluid">
  <div class="dashboard">
    <ul class="nav nav-pills">
      <li role="presentation" class="pill user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </a>
        <ul class="dropdown-menu">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-group">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          <% end %>
          <%= render "users/shared/links" %>
        </ul>
      </li>
      <li role="presentation" class="pill upload">
        <a href="#"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> <strong>Upload</strong></a>
      </li>
    </ul>
    <div>
      <div class="title">
        <div class="row">
          <div class="col-md-9">
            <h1 class="main-title">Nature Boy</h1>
          </div>
          <div class="col-md-3">
            <div class="categories">
              <% @categories.each do |c| %>
                <button class="cat-column <%= format_class_name(c.name) %>">
                    <p><%= c.name %></p>
                </button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
